                    <hr class="hr-line">
                    <h3 class="title" style="font-size:30px;">
					<p style="font-size:1rem;font-weight:300">{{ site.language }}</p>
                        {% if site.java %}<i class="devicon-java-plain" style="margin-left:20px;"></i>{% endif %}
						{% if site.python %}<i class="devicon-python-plain" style="margin-left:20px;"></i>{% endif %}
                        {% if site.go %}<i class="devicon-go-plain" style="margin-left:20px;"></i>{% endif %}
						{% if site.javascript %}<i class="devicon-javascript-plain" style="margin-left:20px;"></i>{% endif %}
						{% if site.cplusplus %}<i class="devicon-cplusplus-plain" style="margin-left:20px;"></i>{% endif %}
					</h3>
